<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://Java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">

<!-- <web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee;https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
     version="5.0"> -->


  <display-name>flyAwayProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddDestination</display-name>
    <servlet-name>AddDestination</servlet-name>
    <servlet-class>com.AddDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDestination</servlet-name>
    <url-pattern>/AddDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlight</display-name>
    <servlet-name>AddFlight</servlet-name>
    <servlet-class>com.AddFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlight</servlet-name>
    <url-pattern>/AddFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableFlight</display-name>
    <servlet-name>AvailableFlight</servlet-name>
    <servlet-class>com.AvailableFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableFlight</servlet-name>
    <url-pattern>/AvailableFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBooking</display-name>
    <servlet-name>ConfirmBooking</servlet-name>
    <servlet-class>com.ConfirmBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBooking</servlet-name>
    <url-pattern>/ConfirmBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDestination</display-name>
    <servlet-name>EditDestination</servlet-name>
    <servlet-class>com.EditDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDestination</servlet-name>
    <url-pattern>/EditDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFlight</display-name>
    <servlet-name>EditFlight</servlet-name>
    <servlet-class>com.EditFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFlight</servlet-name>
    <url-pattern>/EditFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDestinations</display-name>
    <servlet-name>ListDestinations</servlet-name>
    <servlet-class>com.ListDestinations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDestinations</servlet-name>
    <url-pattern>/ListDestinations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFlights</display-name>
    <servlet-name>ListFlights</servlet-name>
    <servlet-class>com.ListFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFlights</servlet-name>
    <url-pattern>/ListFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsers</display-name>
    <servlet-name>ListUsers</servlet-name>
    <servlet-class>com.ListUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsers</servlet-name>
    <url-pattern>/ListUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerDetail</display-name>
    <servlet-name>PassengerDetail</servlet-name>
    <servlet-class>com.PassengerDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDetail</servlet-name>
    <url-pattern>/PassengerDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDestination</display-name>
    <servlet-name>UpdateDestination</servlet-name>
    <servlet-class>com.UpdateDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDestination</servlet-name>
    <url-pattern>/UpdateDestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlight</display-name>
    <servlet-name>UpdateFlight</servlet-name>
    <servlet-class>com.UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/UpdateFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUser</display-name>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>com.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
</web-app>